@import url("https://fonts.googleapis.com/css2?family=Allerta&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Jost:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap");

* {
  margin: 0;
  font-family: Jost;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1440px;
  box-sizing: border-box;
}
